/* Write your global styles here, in PostCSS syntax */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@tailwind base;

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(242,182,94);
    background: linear-gradient(180deg, rgba(242,182,94,1) 0%, rgba(255,236,134,1) 100%);
    /* background-image: url("./../public/assets/sloshy_background.svg"), linear-gradient(180deg, rgba(242,182,94,1) 0%, rgba(255,236,134,1) 100%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* @apply bg-gray-100; */
    font-family: 'DM Sans', sans-serif;
    @apply text-gray-800
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@font-face {
  font-family: "Lobster";
  src: url("../public/Lobster/Lobster.ttf");
}
